{#
 # Created by PhpStorm.
 # User: andrew
 # Date: 02.04.14
 # Time: 10:54
 # Author: Kluev Andrew
 # Contact: Kluev.Andrew@gmail.com
 #}
{% trans_default_domain 'SeoSAFeedbackBundle' %}

{% block html %}
    <div class="seosa_feedback_panel">
    {% include 'SeoSAFeedbackBundle:Feedback:button.html.twig' %}
    </div>
{% endblock %}

